body {
    background-color: rgb(12, 63, 84);
}

header {
    color: rgb(255, 255, 255);
    background-color: rgba(208, 226, 255, 0.494);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    text-decoration: underline;
}

form {
    color: moccasin;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    border: 5px double white;
    border-radius: 10px;
    margin: 50px;
    padding: 25px;
    
}

footer {
    color: beige;
    margin: 50px;
}

.campo {
    margin-top: 15px;
    margin-bottom: 15px;
}