header{border: 5px solid gray;border-radius: 5px;color: beige;background-color: black; font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px}
main{border: 5px solid gray; border-radius: 5px;background-color: black; font-family: Georgia, 'Times New Roman', Times, serif}
p{color: bisque;font-size: 19px}
li{color:whitesmoke ;font-size: 16px}
a{color: rgb(252, 131, 110);font-size: 15px}
